<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>notification-word.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B8D0DE31F5964CA009D982B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8D0DF71F5964CB009D982B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8D0E021F5964CB009D982B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
